.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.loader{
	font-style: italic;
}

.select{
	display: inline;
	margin: 1px;
}

.selectText{
	display: inline;
	font-size: 14px;
	margin: 5px;
}

#comparison{
	width: 50%;
	margin: auto;
}

#title{
	color: grey;
	margin: 10px;
	font-size: 18px;
	text-align: center;
}

#compButton{
    float: right;
    padding: 10px;
    background-color: cornflowerblue;
    border: none;
    color: white;
}

#loader-container{
	text-align: center;
}

.loader {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid cornflowerblue;
  border-color: cornflowerblue transparent cornflowerblue transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
