<html>
<head>
	<title>Algorithms</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
	<h1 id="title">Analyzing Algorithms</h1>
	<div class="loader">Running Algorithms ...</div>
	<div class="wrapper"></div>
	<br/>
	<br/>

	<div id="comparison">
		<div class="compare">
		</div>
		<div class="graphCompare">
			<br />
			<button id="compButton">Compare Algorithms</button>
			<br/>
			<canvas id="compChart" height="400px" width="400px"></canvas>
		</div>
	</div>
</body>
</html>
